<!--En esta página se editará el medicamento-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" /> <!--No es necesario rellenarlo-->
        <meta name="author" content="" /> <!--No es necesario rellenarlo-->
        <title>Editar un Medicamento</title>
        <!-- Favicon-->
        <link rel="icon" href="{% static 'img/favicon/medicine.ico' %}" type="image/png" /> <!--ESTE ES EL ICONO AL LADO DEL TITLE-->
        {% include "header.html" %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio'%}"><i class="fas fa-heartbeat"></i> DigiWealth</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menú
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-2">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'medicamentos' %}">Lista de Medicamentos</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'acercade' %}">Acerca de Nosotros</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'admin_medicamento' %}">ADMIN. MEDICAMENTOS</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'perfil_usuario' %}">PERFIL</a></li>
                    <li><span class="tamano"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></span></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'login' %}">Inicio de Sesión</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'registro' %}">Regístrate</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav><br><br><br><br><br><br>
        <br/><br/><br/>
        <div class="container">
            <form method="POST" action="/modificar/{{id_medicamento}}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table-striped">
                        <tr>
                            <td>Nombre del Medicamento: </td>
                            <td>{{form.nombre_medicamento}}</td>
                        </tr>
                        <tr>
                            <td>Precio del Medicamento: </td>
                            <td>{{form.precio}}</td>
                        </tr>
                        <tr>
                            <td>Descripción del Medicamento: </td>
                            <td>{{form.descripcion}}</td>
                        </tr>
                        <tr>
                            <td>Stock del Medicamento: </td>
                            <td>{{form.stock}}</td>
                        </tr>
                        <tr>
                            <td>Bioequivalencia</td>
                            <!--<td><input type="number" min="1" max="3"></td>-->
                            <td>{{form.bioequivalente}}</td>
                        </tr>
                        <tr class="pb-1">
                            <td>Concentración (mg): </td>
                            <td>{{form.concentracion}}</td>
                        </tr>
                        <tr class="pb-1">
                            <td>Presentación: </td>
                            <td>{{form.presentacion}}</td>
                        </tr>
                        <tr>
                            <td>Seleccionar Imagen para el Medicamento:</td>
                            <td>{{form.url}}</td>
                        </tr>
                            
                        <!--<tr>
                            <td><center><input class="btn btn-primary" type="submit" value="Grabar"></center></td>
                        </tr>-->
                        
                    </table>
                    <center><input class="btn btn-primary" type="submit" value="Modificar Medicamento"></center>
                </div>
            </form>
        </div><br><br>

        {% include "footer.html" %}
    </body>
</html>