<!--Esta página, es donde se listarán los medicamentos mediante una tabla, con algún filtro creado por script-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" /> <!--No es necesario rellenarlo-->
        <meta name="author" content="" /> <!--No es necesario rellenarlo-->
        <title>Listado de Medicamentos</title>
        <!-- Favicon-->
        <link rel="icon" href="{% static 'img/favicon/medicine.ico' %}" type="image/png" /> <!--ESTE ES EL ICONO AL LADO DEL TITLE-->
        {% include "header.html" %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio'%}"><i class="fas fa-heartbeat"></i> DigiWealth</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menú
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-2">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'medicamentos' %}">Lista de Medicamentos</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'acercade' %}">Acerca de Nosotros</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'admin_medicamento' %}">ADMIN. MEDICAMENTOS</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'perfil_usuario' %}">PERFIL</a></li>
                    <li><span class="tamano"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></span></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'login' %}">Inicio de Sesión</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'registro' %}">Regístrate</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav><br><br><br><br><br><br>


    {% block content %}
      <div class="container row" style="margin-left: 2%; margin-right: 2%;">
        <div class="col-12">
          <div class="row">
              {% for med in medicamentos %}
                <div class="col-md-3 col-sm-12 col-lg-4">
                  <div class="card" style="width: 100%; border-style: solid; border-color:gray">
                    <img src="/media/{{med.url}}" style="width:100%;" class="card-img-top" alt="{{med.nombre_medicamento}}"/>
                    <h5 class="card-title text-center pt-1"> {{med.nombre_medicamento}}</h5>
                    <p class="card-text text-center"><strong>Concentración:</strong> {{med.concentracion}} mg</p>
                    <p class="card-text text-center"> <strong>PRECIO:</strong> ${{med.precio}}</p>
                    {% if user.is_superuser %}
                    <div class="card-footer text-center">
                      <!--<a href="/vista_medicamento.html/{{med.id_medicamento}}" class="btn btn-primary">DETALLES</a>-->
                      <a href="{% url 'admin_medicamento' %}" class="btn btn-primary">ADMINISTRAR</a>
                    </div>
                    {% endif %}
                    <div class="card-footer text-center">
                      <!--<a href="/vista_medicamento.html/{{med.id_medicamento}}" class="btn btn-primary">DETALLES</a>-->
                      <a href="{% url 'vista_medicamento' med.id_medicamento  %}" class="btn btn-primary">MÁS DETALLES</a>
                    </div>
                  </div>
                  
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
      {% endblock %}
          <br><br><br><br><br><br>
          {% include "footer.html" %}
    </body>
</html>